<style type="text/css">
	header {
            background-color: #333;
            color: #FF0000;
            height: 70px;
            width: 100%;
            text-align: center;
        }
</style>
